[submodule "tests/variable-transform"]
	path = tests/variable-transform
	url = https://github.com/bids-standard/variable-transform.git
	datalad-url = https://github.com/bids-standard/variable-transform.git
