octave-workspace
*.asv
*.*~
*.swp

tmp*
examples/brainstorm
examples/MoAEpilot


# virtual env
env/*

# other bids repos
bids-specification/*
bids-examples

# input and output data involved in tests
data/*
derivatives/*
tests/*.tsv

# coverage
coverage_html

# styling
.prettierrc

# visual studio code config
.vscode/*

MoAEpilot.zip
