*.swp

tmp*

*.zip*

*.jpg
*.ps

*.log

# virtual env
env/*

# other bids repos
bids-specification/*
bids-examples

# examples
MoAEpilot

# input and output data involved in tests
derivatives/*

# virtual env
env/*

# coverage
coverage_html
coverage.xml

# styling
.prettierrc

# doc
build

# jupyter notebooks
.ipynb_checkpoints

## MATLAB / OCTAVE gitignore template

# From : https://github.com/github/gitignore/blob/master/Global/MATLAB.gitignore

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# javascript
node_modules/*
yarn.lock
