# Travis CI (https://travis-ci.org/)

language: c
dist: bionic
cache:
  apt: true # only works with Pro version

env:
  global:
    - OCTFLAGS="--no-gui --no-window-system --silent"

before_install:
  - travis_retry sudo apt-get -y -qq update
  - travis_retry sudo apt-get -y install octave
  - travis_retry sudo apt-get -y install liboctave-dev
  - travis_retry sudo apt-get -y install nodejs
  
install:
  # Install JSONio
  - travis_retry git clone git://github.com/gllmflndn/JSONio.git --depth 1
  - cd JSONio; mkoctfile --mex jsonread.c jsmn.c -DJSMN_PARENT_LINKS; cd ..
  - octave $OCTFLAGS --eval "addpath (fullfile (pwd, 'JSONio')); savepath ();"
  # Install BIDS-MATLAB
  - octave $OCTFLAGS --eval "addpath (pwd); savepath ();"
  # Temporary fix for private directories in packages in Octave
  - octave $OCTFLAGS --eval "addpath (fullfile (pwd, '+bids')); savepath ();"
  # Install BIDS-Validator
  - sudo npm install -g bids-validator

before_script:
  # Change current directory
  - cd tests
  # Download BIDS-compatible datasets
  - travis_retry git clone git://github.com/bids-standard/bids-examples.git --depth 1

script:
  - octave $OCTFLAGS --eval "results = bids_runtests; assert(all(~[results.Failed]))"
