# style guide (https://florianschanda.github.io/miss_hit/style_checker.html)

project_root

exclude_dir: "examples"

copyright_entity: "Guillaume Flandin, Wellcome Centre for Human Neuroimaging"
copyright_entity: "Remi Gau"
copyright_entity: "Agah Karakuzu" 
copyright_entity: "BIDS-MATLAB developers"

regex_class_name: "([A-Z]){1}([a-z]+)*"
regex_method_name: "[a-z]+(_[a-z]+)*"
regex_parameter_name: "[A-Z]*|[a-z]+(_[a-z]+)*"
regex_function_name: "[a-z]+(_[a-zA-Z0-9]+)*"

line_length: 100

tab_width: 2

# metrics limit for the code quality (https://florianschanda.github.io/miss_hit/metrics.html)
metric "cnest": limit 5
metric "file_length": limit 710
metric "cyc": limit 17
metric "parameters": limit 8
