---
name: 'matlab: tests'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
  pull_request:
    branches: ['*']

  # to run on PR opened by other workflows (to update schema)
  pull_request_target:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:

    if: |
      github.event_name == 'push' ||
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'pull_request' && !contains(fromJSON('["github-actions[bot]","dependabot[bot]","pre-commit-ci[bot]"]'), github.event.pull_request.user.login)) ||
      (github.event_name == 'pull_request_target' && contains(fromJSON('["github-actions[bot]","dependabot[bot]","pre-commit-ci[bot]"]'), github.event.pull_request.user.login))
    strategy:
      fail-fast: false
      matrix:
        version: [R2021a, R2024a]
        os: [ubuntu-latest, macos-latest, windows-latest]
        test: [slow, fast]

    runs-on: ${{matrix.os}}

    steps:

    - name: Install MATLAB
      uses: matlab-actions/setup-matlab@v2.6.1
      with:
        release: ${{matrix.version}}

    - name: Clone bids-matlab
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.sha || github.sha }}
        submodules: true
        fetch-depth: 1

    - name: Install dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get -y -qq update
        sudo apt-get -y install unzip wget

    - name: Install Deno
      uses: denoland/setup-deno@v2
      with:
        deno-version: v1.x
    - name: Install bids validator
      run: deno install -Agf -n bids-validator jsr:@bids/validator

    - name: Setup python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Install bids example
      run: |
        cd tests
        make data

    - name: Install Moxunit and MOcov
      run: |
        git clone https://github.com/MOxUnit/MOxUnit.git --depth 1
        git clone https://github.com/MOcov/MOcov.git --depth 1

    - name: Run slow tests
      if: matrix.test == 'slow'
      uses: matlab-actions/run-command@v2.3.0
      with:
        command: run MOxUnit/MOxUnit/moxunit_set_path(); addpath(fullfile(pwd, 'MOcov', 'MOcov')); global SLOW; SLOW=true; addpath(getenv('GITHUB_WORKSPACE'));
          success = run_tests(); assert(success);

    - name: Run fast tests
      if: matrix.test == 'fast'
      uses: matlab-actions/run-command@v2.3.0
      with:
        command: run MOxUnit/MOxUnit/moxunit_set_path(); addpath(fullfile(pwd, 'MOcov', 'MOcov')); addpath(getenv('GITHUB_WORKSPACE')); success = run_tests();
          assert(success);
