---
name: 'octave: tests'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
    - master
    - dev
    paths:
    - '**.m'
  pull_request:
    branches: ['*']

env:
  OCTFLAGS: --no-gui --no-window-system --silent

jobs:
  test:

    strategy:
      fail-fast: false
      matrix:
        test: [slow, fast]

    runs-on: ubuntu-22.04

    steps:

    - name: Clone bids-matlab
      uses: actions/checkout@v3
      with:
        submodules: true
        fetch-depth: 1

    - name: Install dependencies
      run: |
        sudo apt-get -y -qq update
        sudo apt-get -y install unzip wget

    - name: Install bids validator
      run: npm install -g bids-validator

    - name: Install bids-example
      run: |
        cd tests
        make data

    - name: Install Moxunit and MOcov
      run: |
        git clone https://github.com/MOxUnit/MOxUnit.git --depth 1
        git clone https://github.com/MOcov/MOcov.git --depth 1

    - name: Install octave
      run: |
        sudo apt-get -y -qq update
        sudo apt-get -y install \
          octave \
          liboctave-dev\
          octave-common \
          octave-io \
          octave-image \
          octave-signal \
          octave-statistics
        make -C MOxUnit install
        make -C MOcov install

    - name: Install JSONio
      run: |
        git clone https://github.com/gllmflndn/JSONio.git --depth 1
        cd JSONio
        mkoctfile --mex jsonread.c jsmn.c -DJSMN_PARENT_LINKS
        octave $OCTFLAGS --eval "addpath(fullfile(pwd)); savepath();"

    - name: set environment variable
      if: matrix.test == 'slow'
      run: export SLOW=true

    - name: Run unit tests Octave
      run: |
        octave $OCTFLAGS --eval "success = run_tests(); assert(success);"
