---
name: tests_examples


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
  pull_request:
    branches: ['*']
  pull_request_target:
    types: [opened, synchronize]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Install MATLAB
      uses: matlab-actions/setup-matlab@v2.5.0
      with:
        release: R2023a

    - name: Clone bids-matlab
      uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 1

    - name: Install bids example
      run: |
        cd demos/notebooks
        make install

    - name: Run commands
      uses: matlab-actions/run-command@v2.2.1
      with:
        command: cd('demos/notebooks'); success = test_notebooks(); assert(success);
