---
name: update schema

# This action fetches the latest version of the BIDS specification and converts
# the YAML based schema into a JSON format. If there are any changes compared to
# the version currently in the repo, it will open a pull request to submit
# the changes.


# Uses the cron schedule for github actions
#
# https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#scheduled-events
#
# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of the month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
# │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
# │ │ │ │ │
# │ │ │ │ │
# │ │ │ │ │
# * * * * *

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  schedule:
  - cron: 0 0 * * 1     # every monday

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  schema:

    # only trigger schema update on upstream repo
    if: github.repository_owner == 'bids-standard'

    runs-on: ubuntu-latest

    steps:

    - name: Clone bids-matlab
      uses: actions/checkout@v3

    - name: Get BIDS schema
      run: make update_schema

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
      with:
        commit-message: BIDS schema update
        assignees: Remi-Gau
        base: master
        delete-branch: true
        title: '[BOT] update schema'
        body: done via this [GitHub Action](https://github.com/bids-standard/bids-matlab/blob/master/.github/workflows/update_schema.yml)
