---
name: validate

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:

  validate_cff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Check whether the citation metadata from CITATION.cff is valid
      uses: citation-file-format/cffconvert-github-action@2.0.0
      with:
        args: --validate

  codespell:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: codespell-project/actions-codespell@master

  markdown_link_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: yes
        use-verbose-mode: yes
        config-file: .github/workflows/mlc_config.json

  miss_hit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command: [mh_style, mh_metric --ci, mh_lint]
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
        fetch-depth: 1
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip3 install -r requirements.txt
    - name: ${{ matrix.command }}
      run: |
        ${{ matrix.command }}
